body{
  background-color: #efefef;
}

#topLogo{
  height: 7%;
  float: left;
  margin-right: 30;
}

.vid{
    background-color: #d9d9d9;
    height: 190;
    width: 30%;
    display: inline-grid;
    margin: 20;
}

#topH1{
  font-size: 14;
}

#watchSermons{
  text-align: center;
  font-size: 14;
}
