body{
  background-color: #ffffff;
  margin: 0;

}

.nav_head{
  background-color: #efefef;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 20%;
  width: 100%;
  margin: 0;

}

#topH1{
  text-align:left;
  font-size: 18;
  color: #6d6f70;
}



.navLinks{
  display: inline;
  border-bottom: 50;
  margin: 30;
  font-size: 18;
  margin-left: 150;
  overflow: hidden;
}

.navLinks a{
  text-align: center;
  padding: 16px 18px;
  margin-left: 8;
  margin-right: 8;
  text-decoration: none;
  color: #6d6f70;
}

.navLinks a:hover{
  background-color: #808284;
  color: black;
}

.H1{
  display: inline-grid;
  margin: 10;
  margin-right: 50;
}

#topLogo{
  height: 90%;
  float: left;
  padding-left: 75;
  padding-right: 40;
  display: inline;
  padding-top: 5;
  padding-bottom: 5;
}

.videos{
  margin-left: 75;
  margin-right: 40;
  margin-top: 40;
  align-content: center;
}

.imgs{
  margin-left: 75;
  margin-right: 40;
  margin-top: 40;
  align-content: center;
}

#_sort{
  background-color: #ffffff;
  font-size: 18;
  color: #6d6f70;
  position: sticky;
  top: 139;
}

#_sort2{
  background-color: #ffffff;
  font-size: 18;
  color: #6d6f70;
  position: sticky;
  top: 89;
}

#sortby{
  height: 5%;
  float: left;
  margin: 0;
  margin-right: 2;
  padding-left: 86%;
}

#grid_pic{
  display: inline;
  width: 15;
}

.vid{
    background-color: #d9d9d9;
    height: 200;
    width: 30%;
    display: inline-grid;
    margin-right: 20;
    margin-bottom: 20;

}

.pic{
    background-color: #d9d9d9;
    height: 200;
    width: 20%;
    display: inline-grid;
    margin-right: 20;
    margin-bottom: 20;

}

.vid .vidz{
  height: 90%;
  width: 100%;
}


#watchSermons{
  text-align: center;
  font-size: 14;
}
